{% extends 'blog/base.html' %}
{% block content %}

<label for="id_uploaded_report" class="btn btn-outline-secondary mt-2 btn-rounded" style="margin-bottom: 30px;" > إرفاق تقرير الإلتزام  </label>
<input type="file" name="uploaded_report" id="id_uploaded_report" style="display: none" >

{% if uploaded_report %}
<p>الملف المرفق: <a href="{{ uploaded_report.url }}" target="_blank">{{ uploaded_report.name }}</a></p>
{% endif %}
  
{% endblock content %}

<style>
  input[type="file"] {
  display: none;
}
</style>
